body {
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Background navbar */
.navbar-inverse {
  background-color: #222;
  border-color: #222;
  border: none;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {min-height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding: 0px;
  background-color: #222; /* warna sidebar */
  min-height: 100%;
  position: relative;
  float: left;
  text-align: left;
  color: #ccc;
  height: 1000px;
}

.sidenav a {
    color: #ccc;
}

.nav-menu {
    padding: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav ul li {
    padding: 8px 10px;
    display: block;
}

.sidenav .title {
  font-weight: bold;
  border-bottom: 1px solid #666;
  padding: 14px 12px;
  background-color: black;
}


@media (max-width: 780px) {
  .sidenav {
    display: inline-block;
    width: 100%;
  }
  .sidenav .title {
    
  }
}
/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #ddd;
  margin: 10% auto;
}

.loginmodal-container h1 {
  text-align: center;
}

.loginmodal-container input[type=submit], .loginmodal-submit {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=email], input[type=password] {
  font-size: 16px;
  width: 100%;

}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}


.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #111;
  font-weight: 400;
  text-align: center;
  display: inline-block;
} 

.login-help{
  font-size: 12px;
}

/* Content */
.login-content {
}

.page-content {
  background-color: #black;
}



/* Set black background color, white text and some padding */
footer {
  border-top: dotted 3px #222; /* warna footer */
  background-color: #fff;
  color: black;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    text-align: center;
    box-shadow: none;
  }
  .col-md-2 {
    position: static;
  }
  .row.content {height:auto;} 
}